@charset "UTF-8";
/**
 * WordCamp Japan 2021 styles
 */
body,
.entry-title a,
:root .has-primary-color {
	color: #34302e;
}

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 80rem;
}

#site-content {
	padding-top: 2em;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
	}
}

body,
input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button,
.has-drop-cap:not(:focus)::first-letter,
.has-drop-cap:not(:focus)::first-letter,
.entry-content .wp-block-archives,
.entry-content .wp-block-categories,
.entry-content .wp-block-cover-image,
.entry-content .wp-block-latest-comments,
.entry-content .wp-block-latest-posts,
.entry-content .wp-block-pullquote,
.entry-content .wp-block-quote.is-large,
.entry-content .wp-block-quote.is-style-large,
.entry-content .wp-block-archives *,
.entry-content .wp-block-categories *,
.entry-content .wp-block-latest-posts *,
.entry-content .wp-block-latest-comments *,
.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content dt,
.entry-content cite,
.entry-content figcaption,
.entry-content .wp-caption-text,
.comment-content p,
.comment-content ol,
.comment-content ul,
.comment-content dl,
.comment-content dt,
.comment-content cite,
.comment-content figcaption,
.comment-content .wp-caption-text,
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary,
.widget-content cite,
.widget-content figcaption,
.widget-content .wp-caption-text,
.entry-content {
	font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content cite,
.entry-content figcaption,
.entry-content table,
.entry-content address,
.entry-content .wp-caption-text,
.entry-content .wp-block-file {
	font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
}

@supports (font-variation-settings: normal) {
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.entry-content cite,
	.entry-content figcaption,
	.entry-content table,
	.entry-content address,
	.entry-content .wp-caption-text,
	.entry-content .wp-block-file {
		font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
	}
}

h1,
.heading-size-1 {
	font-size: 3.2rem;
}

h2,
.heading-size-2 {
	font-size: 2.4rem;
}

h3,
.heading-size-3 {
	font-size: 2.0rem;
}

h4,
.heading-size-4 {
	font-size: 1.8rem;
}

h5,
.heading-size-5 {
	font-size: 1.6rem;
}

h6,
.heading-size-6 {
	font-size: 1rem;
}

html[lang="ja"] h1.entry-title,
html[lang="ja"] h2.entry-title {
	text-align: left;
	font-size: 2.4rem;
}

@media (min-width: 700px) {
	html[lang="ja"] h1.entry-title,
	html[lang="ja"] h2.entry-title {
		font-size: 3.2rem;
	}
}

@media (min-width: 1220px) {
	html[lang="ja"] h1.entry-title,
	html[lang="ja"] h2.entry-title {
		font-size: 3.2rem;
	}
}

html[lang="ja"] .widget .widget-title {
	font-size: 2rem;
}

@media (min-width: 700px) {
	html[lang="ja"] .widget .widget-title {
		font-size: 2.4rem;
	}
}

p {
	font-size: 1.8rem;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

a {
	color: #315bc2;
}

input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button {
	font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
}

.wp-block-button__link {
	text-transform: inherit;
}

@supports (font-variation-settings: normal) {
	input,
	textarea,
	button,
	.button,
	.faux-button,
	.faux-button.more-link,
	.wp-block-button__link,
	.wp-block-file__button {
		font-family: "Inter var", "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
	}
}

body:not(.overlay-header) .primary- menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
	color: #315bc2;
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
	color: #315bc2;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a {
	color: #315bc2;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a {
	color: #315bc2;
}

button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background-color: #315bc2;
}

.primary-menu a,
.entry-categories a {
	color: #315bc2 !important;
}

/* top のページタイトルを非表示 */
.home h1.entry-title {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

#site-header {
	background-color: transparent;
	min-height: 100vh;
	position: relative;
	padding-top: 26px;
	margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
	#site-header {
		min-height: 600px;
	}
}

@media screen and (max-width: 767px) {
	#site-header .header-inner {
		width: 100%;
		height: 100%;
		max-width: 100%;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

#site-header .header-titles-wrapper {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

@media screen and (max-width: 767px) {
	#site-header .header-titles-wrapper {
		width: 100%;
		height: 100%;
		padding: 0;
		top: 0;
		left: 0;
		transform: none;
	}
	#site-header .header-titles-wrapper .header-titles {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}
	#site-header .header-titles-wrapper .header-titles .site-logo {
		width: 100%;
	}
	#site-header .header-titles-wrapper .header-titles .custom-logo {
		width: 100%;
	}
	#site-header .header-titles-wrapper .mobile-nav-toggle {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media screen and (max-width: 767px) and (max-width: 767px) {
	#site-header .header-titles-wrapper .mobile-nav-toggle {
		height: 6.6rem;
	}
	#site-header .header-titles-wrapper .mobile-nav-toggle .toggle-text {
		display: none;
	}
}

#site-header .site-logo {
	margin: 0;
}

#site-header .custom-logo {
	width: 570px;
	max-height: none;
}

@media screen and (max-width: 767px) {
	#site-header .custom-logo {
		width: 280px;
	}
}

.primary-menu a {
	font-size: 16px;
	color: #000 !important;
	text-decoration: none;
}

.primary-menu .icon:before, .primary-menu .icon:after {
	background-color: #000;
}

.primary-menu li.menu-item-has-children:hover > .sub-menu {
	background-color: #EBEEF3;
}

.primary-menu li.menu-item-has-children:hover > .sub-menu::after {
	display: none;
}

@media screen and (max-width: 767px) {
	.menu-modal {
		z-index: 150;
	}
	.menu-modal .toggle-text {
		display: none;
	}
	button:active, button:focus {
		outline: none;
	}
	.mobile-menu a {
		color: #333;
		text-decoration: none;
		font-size: 16px !important;
	}
}

.home .entry-header {
	padding: 0;
}

.post-inner {
	padding-top: 0;
}

.text-news {
	position: relative;
}

.text-news::before {
	content: 'NEWS';
	color: #db6b31;
	font-size: 14px;
	bottom: -12px;
	left: 4.5em;
	position: absolute;
}

.latest-posts .wp-block-column:nth-of-type(2) {
	flex-basis: 90% !important;
}

.latest-posts .wp-block-latest-posts__list {
	margin-top: 16px;
}

.wp-block-latest-posts.has-dates li {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 16px;
}

.wp-block-latest-posts.has-dates li a {
	font-weight: 300;
	color: #000;
}

.wp-block-latest-posts.has-dates li .wp-block-latest-posts__post-date {
	color: #000;
}

.text-schedule {
	margin-top: 0 !important;
	margin-bottom: 12px !important;
	position: relative;
}

.text-schedule::before {
	content: 'Schedule';
	color: #db6b31;
	font-size: 14px;
	left: 11.5em;
	bottom: 12px;
	position: absolute;
}

.schedule {
	position: relative;
}

.schedule::before {
	content: '';
	display: block;
	background-color: #C6C2B9;
	width: 100%;
	height: 200px;
	position: absolute;
	z-index: 0;
	right: calc( 50vw - 40rem);
	top: 50px;
}

.schedule .wp-block-column:nth-of-type(1) figure {
	margin: 0 !important;
	max-width: 40rem;
}

.schedule .wp-block-column:nth-of-type(2) {
	z-index: 1;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 16px 20px;
	margin-bottom: auto;
}

.schedule .wp-block-column:nth-of-type(2) ul {
	margin: 0;
}

.schedule ul {
	list-style-type: none;
}

.schedule ul li {
	margin-left: 8px;
}

.icon-menu {
	font-weight: 700;
}

.icon-menu p {
	white-space: nowrap;
}

.about-wc-wrap {
	position: relative;
}

.about-wc-wrap.wp-block-cover::before {
	background: url(https://japan.wordcamp.org/2021/files/2021/03/cloud1__object.png) no-repeat left top/contain;
	position: absolute;
	top: -5% !important;
	left: -15% !important;
	content: '';
	display: block;
	width: 690px;
	height: 210px;
	opacity: 1 !important;
}

.about-wc-wrap::after {
	background: url(https://japan.wordcamp.org/2021/files/2021/03/cloud2__object.png) no-repeat right bottom/contain;
	position: absolute;
	bottom: -3% !important;
	right: -6% !important;
	content: '';
	display: block;
	width: 290px;
	height: 210px;
}

.about-wc {
	max-width: 80rem !important;
	align-items: center;
}

.about-wc h3 {
	border-bottom: none !important;
	font-size: 24px;
	line-height: 1.5;
}

.about-wc .wp-block-column:nth-of-type(1) {
	flex-basis: 25% !important;
}

.about-wc .wp-block-column:nth-of-type(2) {
	flex-basis: 75% !important;
}
