@charset "UTF-8";

// カスタマイザーの追加CSSのバックアップ

$primary: #315bc2;
$secondary: #db6b31;
$neutral: #fffdf8;
$additional: #34302e;
$text: $additional;
$alt: $neutral;
$font: "Inter var","Noto Sans JP",sans-serif;
$font-serif: "Inter var","Noto Serif JP",serif;


h1,
.heading-size-1 {
	font-size: 3.2rem;
}

h2,
.heading-size-2 {
	font-size: 2.4rem;
}

h3,
.heading-size-3 {
	font-size: 2.0rem;
}

h4,
.heading-size-4 {
	font-size: 1.8rem;
}

h5,
.heading-size-5 {
	font-size: 1.6rem;
}

h6,
.heading-size-6 {
	font-size: 1rem;
}

html[lang="ja"] h1.entry-title,
html[lang="ja"] h2.entry-title {
	text-align: left;
	font-size: 2.4rem;
}

@media (min-width: 700px) {
	html[lang="ja"] h1.entry-title,
	html[lang="ja"] h2.entry-title {
		font-size: 3.2rem;
	}
}

@media (min-width: 1220px) {
	html[lang="ja"] h1.entry-title,
	html[lang="ja"] h2.entry-title {
		font-size: 3.2rem;
	}
}

html[lang="ja"] .widget .widget-title {
	font-size: 2rem;
}

@media (min-width: 700px) {
	html[lang="ja"] .widget .widget-title {
		font-size: 2.4rem;
	}
}

p,
ol,
ul {
	font-size: 1.8rem;
}

.entry-content {
	h2 {
		background: $primary;
		color: $alt;
		letter-spacing: .2rem;
		padding: 1rem 2rem;
	}
	h3 {
		color: $secondary;
	}
}
@media ( max-width: 599px ) {
 .cover-header.bg-image.bg-attachment-fixed {
    background-size: 852px auto;
    background-position: 53% 0;
	}
	.cover-header-inner-wrapper.screen-height {
    min-height: 58vh;
	}
}
table,
.roadmap-table {
	* {
		border-color: #c6c2b9;
	}
	th {
		background-color: $primary;
		color: $alt;
		text-align: center;
		letter-spacing:1em;
		//&:first-of-type {
		//	border-right-color: #cdcdcd;
		//}
	}
}
/* 
/*
.header-navigation-wrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 3em;
    background: #fff;
    border-radius: 3em;
    top: 3em;
}
*/
