@charset "UTF-8";

@import 'variables';

/* top のページタイトルを非表示 */
.home h1.entry-title {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

body {
	//ホーム共通コンテンツ
	&.home,
	&.page-id-599,
	&.page-id-1145 {
		//.homeに戻す
		.text-news {
			position: relative;
			&::before {
				content: 'NEWS';
				color: $secondary;
				font-size: 14px;
				bottom: -12px;
				left: 4.5em;
				position: absolute;

				@include mq() {
					bottom: 12px;
					left: 8em;
				}
			}
		}
		.latest-posts {
			.wp-block-column {
				@include mq() {
					margin-bottom: 1rem;
				}
				&:nth-of-type(2) {
					flex-basis: 90% !important;
				}
			}
			.wp-block-latest-posts__list {
				margin-top: 16px;
				@include mq() {
					margin-bottom: 0 !important;
				}
			}
		}
		.wp-block-latest-posts.has-dates {
			li {
				display: flex;
				flex-direction: column-reverse;
				flex-wrap: wrap;
				background: #FFFFFF;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				padding: 16px;
				a {
					font-weight: 300;
					color: #000;
				}
				.wp-block-latest-posts__post-date {
					color: #000;
				}
			}
		}
		.text-schedule {
			margin-top: 0 !important;
			margin-bottom: 12px !important;
			position: relative;
			&::before {
				content: 'Schedule';
				color: $secondary;
				font-size: 14px;
				left: 11.5em;
				bottom: 12px;
				position: absolute;
			}
		}
		.schedule {
			position: relative;
			&::before {
				content: '';
				display: block;
				background-color: #C6C2B9;
				width: 100%;
				height: 200px;
				position: absolute;
				z-index: 0;
				right: calc(50vw - 40rem);
				top: 50px;

				@include mq() {
					right: 0;
				}
			}
			.wp-block-column {
				&:nth-of-type(1) {
					figure {
						margin: 0 !important;
						max-width: 40rem;
					}
				}
				&:nth-of-type(2) {
					z-index: 1;
					background-color: #fff;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
					padding: 16px 20px;
					margin-bottom: auto;
					margin-right: calc(100% - 100vw);
					ul {
						margin: 0;
					}
					@include mq() {
						margin: 0 calc(50% - 50vw);
						width: 100vw;
					}
				}
			}
			ul {
				list-style-type: none;
				li {
					margin-left: 8px;
				}
			}
		}

		.icon-menu {
			display: flex;
			font-weight: 700;
			p {
				white-space: nowrap;
			}
			@include mq() {
				width: calc(100% - 30px) !important;
				&>.wp-block-column {
					&>.wp-block-columns {
						margin-bottom: 0 !important;
						&>.wp-block-column {
							margin-bottom: 0 !important;
							flex-basis: 50% !important;
							&:first-of-type {
								padding-right: 6px;
							}
							&:last-of-type {
								padding-left: 6px;
							}
							&>.wp-block-image {
								margin: 12px auto !important;
							}
						}
					}
				}
			}
		}

		@keyframes cloudHover {
			0% {
				transform: translateY(0)
			}
			25% {
				transform: translateY(-8px)
			}
			50% {
				transform: translateY(-5px)
			}
			75% {
				transform: translateY(-10px)
			}
			100% {
				transform: translateY(0)
			}
		}

		.about-wc-wrap {
			position: relative;
			&.wp-block-cover::before {
				background: url(https://japan.wordcamp.org/2021/files/2021/03/cloud1__object.png) no-repeat left top / contain;
				position: absolute;
				top: -5%;
				left: -15%;
				content: '';
				display: block;
				width: 690px;
				height: 210px;
				opacity: 1 !important;

				animation: cloudHover 8s linear infinite;
				transform-origin: 50% 50%;

				@include mq() {
					width: 400px;
					left: -45%;
					top: -1%;
				}
			}

			&::after {
				background: url(https://japan.wordcamp.org/2021/files/2021/03/cloud2__object.png) no-repeat right bottom / contain;
				position: absolute;
				bottom: -3%;
				right: -6%;
				content: '';
				display: block;
				width: 290px;
				height: 210px;

				animation: cloudHover 8s linear 2s infinite;

				@include mq() {
					width: 205px;
					bottom: -5%;
					right: -20%;
				}
			}

		}

		.wp-block-cover__inner-container {

			@include mq() {
				width: 100%;
				padding-top: 0;

				.about-wc {
					padding: 0;
				}

				.wp-block-image {
					margin-bottom: 0 !important;

					figure {
						margin: 0 auto;
					}
				}
			}
		}

		.about-wc {
			max-width: 80rem !important;
			align-items: center;

			// h3 {
			// 	border-bottom: none !important;
			// 	font-size: 24px;
			// 	line-height: 1.5;
			// }
			a {
				color: #fff;
			}
		}
		#site-content {
			h2.about-wc-title {
				font-size: 24px;
				line-height: 1.5;
				&:after {
					content: none;
				}
			}
		}
		
	}
}