@charset "UTF-8";

@import 'variables';

/* fukidashi */
.fukidashi {
	img {
		border-radius: 30px;
		padding: 5px;
	}
	.wp-block-media-text__content {
		border:2px solid;
		border-radius: 20px;
		position: relative;
		@media screen and (min-width: 768px) {
			padding: 3rem 2rem;
		}
		&:after,
		&:before{
			border: solid transparent;
			content:'';
			height:0;
			width:0;
			position:absolute;
			top:50%;
		}
		&:after{
			border-top-width:5px;
			border-bottom-width:5px;
			border-left-width:10px;
			border-right-width:10px;
			margin-top: -5px;
		}
		&:before{
			border-top-width:7px;
			border-bottom-width:7px;
			border-left-width:14px;
			border-right-width:14px;
			margin-top: -7px;
		}
	}
}

$left_media_border_color: $primary;
$right_media_border_color: $secondary;

.fukidashi-left-media,
.fukidashi-right-media {
	.wp-block-media-text__content {
		@media screen and (min-width: 768px) {
			padding: 3rem 2rem;
		}
	}
}
.fukidashi-left-media {
	.wp-block-media-text__content {
		border-color: $left_media_border_color;
		margin-left: 2em;
		&:after,
		&:before{
			right:100%;
		}
		&:after{
			border-right-color:#fff;
		}
		&:before{
			margin-right: 2px;
			border-right-color: $left_media_border_color;
		}
	}
}
.fukidashi-right-media {
	.wp-block-media-text__content {
		border-color: $right_media_border_color;
		margin-right: 2em;
		&:after,
		&:before{
			left:100%;
		}
		&:after{
			border-left-color:#fff;
		}
		&:before{
			margin-left: 2px;
			border-left-color: $right_media_border_color;
		}
	}
}