@charset "UTF-8";

@import 'variables';

/* organizers */
// 実行委員一覧で1人1人にいいねボタンが出ているのを非表示に
.page-id-12 .sd-block {
	display: none;
}

/* session speaker */
// sessionページのページネーションを非表示に
// speakerページのページネーションを非表示に
.single-wcb_session,
.single-wcb_speaker {
	.pagination-single {
		display: none;
	}
}

// カテゴリーリンクのスタイル調整
span.session-categories-links {
	font-size: 0.85em;
	.screen-reader-text {
		clip: unset;
		clip-path: unset;
		display: block;
		height: inherit;
		width: inherit;
		position: relative!important;
	}
}

// font-style: italic;をnormalに変更
.editor-styles-wrapper .wordcamp-speakers__session-info,
.entry-content .wordcamp-speakers__session-info {
	font-style: normal;
}