@charset "UTF-8";

@import 'variables';

//メニュー
.primary-menu-wrapper {
	ul.primary-menu {
		flex-wrap: nowrap;

		@include mq('wide') {
			flex-wrap: nowrap;
		}

		a {
			font-size: 16px;
			color: #000 !important;
			text-decoration: none;
			white-space: none;
		}

		.icon {
			&:before,
			&:after {
				background-color: #000;
			}
		}

		&>li {
			white-space: nowrap;
		}

		li.menu-item-has-children:hover {
			&>.sub-menu {
				background-color: #EBEEF3;
				&::after {
					display: none;
				}
			}
		}
	}
}

// グローバルナビ
.header-navigation-wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
ul.primary-menu {
	background: #fff;
	border-radius: 5rem;
	box-shadow: 0 0px 2px #999;
	justify-content: center;
	min-width: max-content;
	padding: 2rem 3rem;
	> li {
		margin: 0 1em;
	}
	ul {
		background: #f1f1f1 !important;
		left: calc(-10rem + 50%) !important;
		&::after {
			border-bottom-color: #f1f1f1!important;
			width: 1.5rem;
			right: 0;
			left: 0;
			margin: 0 auto;
		}
	}
}

// スマホメニューが白文字で見えないのを修正
nav.mobile-menu a {
	color: $text;
}

//スマホのモーダルメニュー
@include mq() {

	.menu-modal {
		z-index: 150;

		.toggle-text {
			display: none;
		}

		.close-nav-toggle {
			padding: 1.5rem 0;
		}

	}

	button {
		&:active,
		&:focus {
			outline: none;
		}
	}

	.mobile-menu {
		a {
			color: #333;
			text-decoration: none;
			font-size: 16px !important;
			padding: 1.5rem;
			font-weight: 300 !important;
		}
	}
}