@charset "UTF-8";

@import 'variables';

#site-content {
	h2 {
		letter-spacing: normal;
		&:after {
			background: URL('https://japan.wordcamp.org/2021/files/2021/03/bg-h2.png') no-repeat 0 0;
			background-size: contain;
			content: '';
			display: block;
			height: 20px;
			width: 137px;
			margin-top: -12px;
		}
	}
	h3 {
		border-bottom: 2px solid  $secondary;
		padding-bottom: .2em;
	}
	// 実行委員一覧
	.wordcamp-organizers {
		h3 {
			margin: 4rem auto 2rem;
		}
	}
}

// 実行委員一覧のプロフ画像
.wordcamp-image__avatar-container.align-center img {
	border-radius: 50%;
}
// SNSアイコン
ul.wp-block-social-links {
	justify-content: center;
}

// スマホでロゴが見えるように （ティザー）
@media ( max-width: 599px ) {
	.cover-header.bg-image.bg-attachment-fixed {
		background-size: 852px auto;
		background-position: 53% 0;
	}
	.cover-header-inner-wrapper.screen-height {
		min-height: 58vh;
	}
}

// カバーテンプレート上部の余白を削除
.page-template-template-cover,
.post-template-template-cover {
	#site-content {
		padding-top: 0;
	}
}

// アイキャッチ画像がないページのタイトルをコンテンツ幅に揃える
.page-id-21,
.page-id-442,
.page-id-545 {
	.entry-header-inner.section-inner.medium {
		max-width: 80rem;
	}
}

// アイキャッチ下の余白
.singular .featured-media {
	margin-bottom: 1.5em;
}