@charset "UTF-8";

@import 'variables';


a.to-the-top {
	background: url(https://japan.wordcamp.org/2021/files/2021/03/image1.png) no-repeat 100% 100%;
	background-size: contain;
	// transform: translateX(0) translateY(0) rotate(5deg);
	position: fixed;
	right: 1em;
	bottom: 1.5em;
	text-indent: -1000vw;
	height: 108px;
	width: 140px;
	z-index: 10000;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	// animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-name: float-img;
	@media (min-width: 768px) {
		height: 162px;
		width: 192px;
	}
	@media (min-width: 992px) {
		height: 190px;
		width: 226px;
	}
	@media (min-width: 1280px) {
		height: 236px;
		width: 280px;
	}
	&:hover {
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-delay: 0;
		animation-iteration-count: infinite;
		animation-name: float-img-hover;
	}
}

@keyframes float-img-hover {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px) scale(1.02);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes float-img {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
	}
	
	50% {
		transform: translateY(5px) translateY(-4px) rotate(-15deg);
	}
	
	100% {
		transform: translateX(0) translateY(0) rotate(0);
	}
}