@charset "UTF-8";

@import 'variables';

a.to-the-top {
	position: fixed;
	bottom: 1.5em;
	right: 1em;
	display: block;
	z-index: 10000;
	height: calc(836px * 0.15);
	width: calc(1003px * 0.15);
	@media (min-width: 768px) {
		height: calc(836px * 0.20);
		width: calc(1003px * 0.20);
	}

	@media (min-width: 992px) {
		height: calc(836px * 0.25);
		width: calc(1003px * 0.25);
	}
	&::before,
	&::after{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
	}
	&:before {
		background-image: url(https://japan.wordcamp.org/2021/files/2021/04/season-spring.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	&:after {
		background-image: url(https://japan.wordcamp.org/2021/files/2021/04/season-summer.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	> span {
		text-indent: -1000vw;
		text-align: center;
		white-space: nowrap;
		&:first-child {
			background: url(https://japan.wordcamp.org/2021/files/2021/04/wapoo.png) no-repeat 0 0%;
			background-size: contain;
			display: block;
			height: 100%;
			width: 100%;
			z-index: 10000;
			animation-duration: 6s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-name: float-img;
		}
		&:last-child {
			display: block;
			&::before,
			&::after{
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: -1;
			}
			&:before {
				background-image: url(https://japan.wordcamp.org/2021/files/2021/04/season-autumn.png);
				background-repeat: no-repeat;
				background-size: contain,;
			}
			&:after {
				background-image: url(https://japan.wordcamp.org/2021/files/2021/04/season-winter.png);
				background-repeat: no-repeat;
				background-size: contain,;
			}
		}
	}
	&:hover {
		&:before {
			animation-duration: 4s;
			animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
			animation-iteration-count: infinite;
			animation-name: fade-in-4;
		}
		&:after {
			animation-duration: 4s;
			animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
			animation-iteration-count: infinite;
			animation-name: fade-in-3;
		}
		> span {
			&:first-child {
				animation-duration: 4s;
				animation-timing-function: ease-in;
				animation-iteration-count: infinite;
				animation-name: hover-wapuu;

			}
			&:last-child {
				&:before {
					animation-duration: 4s;
					animation-timing-function: ease-in;
					animation-iteration-count: infinite;
					animation-name: fade-in-2;
				}
				&:after {
					animation-duration: 4s;
					animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
					animation-iteration-count: infinite;
					animation-name: fade-in-1;
				}
			}
		}
	}
}

@keyframes float-img {
	0% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@keyframes hover-wapuu {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
	}
	30% {
		transform: translateX(0) translateY(30px) rotate(60deg);
	}
	50% {
		transform: translateX(10px) translateY(-8px) rotate(-370deg);
	}
	90% {
		transform: translateX(0) translateY(0) rotate(-360deg);
	}
	100% {
		transform: translateX(0) translateY(0) rotate(0);
	}
}

@keyframes fade-in-1 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	85% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in-2 {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in-3 {
	0% {
		opacity: 0;
	}
	38% {
		opacity: 0;
	}
	53% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in-4 {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	55% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}