@charset "UTF-8";

@import 'variables';

a.to-the-top {
	background: url(https://japan.wordcamp.org/2021/files/2021/03/to-top-wapoo.png) no-repeat 100% 100%;
	background-size: contain;
	position: fixed;
	right: 1em;
	bottom: 1.5em;
	text-indent: -1000vw;
	height: calc(238px * .4);
	width: calc(216px * .4);
	z-index: 10000;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-name: float-img;
	@media (min-width: 768px) {
		height: calc(238px * .5);
		width: calc(216px * .5);
	}
	@media (min-width: 992px) {
		height: calc(238px * .6);
		width: calc(216px * .6);
	}
	&:hover {
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-name: float-img-hover;
	}
}

@keyframes float-img-hover {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px) scale(1.02);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes float-img {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
	}
	
	50% {
		transform: translateY(5px) translateY(-4px) rotate(-15deg);
	}
	
	100% {
		transform: translateX(0) translateY(0) rotate(0);
	}
}