@charset "UTF-8";

@import 'variables';

/* sponsors */
.home .sponsors.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull) {
	margin-top: 17rem;
}

.wordcamp-sponsors {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 100% !important;
}

.home .wordcamp-sponsors {
	margin-top: 7rem;
}

.sponsors h2 {
	font-size: 6.4rem;
	margin-bottom: 0.5rem;
}

.sponsors p.sub {
	font-size: 2.4rem;
}

.wordcamp-sponsors li {
	width: 50%;
	margin: 0;
}

.wordcamp-sponsors.silver,
.wordcamp-sponsors.in-kind {
		li {
		width: 33.3333%;
	}
}

@media screen and (max-width: 767px) {
	.home .sponsors.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull) {
		margin-top: 6rem;
	}

	.sponsors h2 {
		font-size: 3.6rem;
	}

	.sponsors p.sub {
		font-size: 1.8rem;
	}

	.home .wordcamp-sponsors {
		margin-top: 2rem;
	}

	.wordcamp-sponsors li {
		width: 100%;
	}

	.wordcamp-sponsors.silver li,
	.wordcamp-sponsors.in-kind li {
		width: 50%;
	}
}

// スポンサーロゴの表示調整
.wp-block-group.sponsors {
	.wordcamp-post-list__post {
		outline: 1px solid rgba(#000 ,.15);
		outline-offset: -.5em;
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		img {
			//margin: auto;
			max-height: calc(200px - 2em);
			width: auto;
		}
	}
}