@charset "UTF-8";


$primary: #315bc2;
$secondary: #db6b31;
$neutral: #fffdf8;
$additional: #34302e;
$text: $additional;
$alt: $neutral;
$font: "Inter var","Noto Sans JP","Hiragino Kaku Gothic Pro",sans-serif;
$font-serif: "Inter var","Noto Serif JP","Hiragino Kaku Gothic Pro",serif;
